.btn{
    background-color: #ff0000;
    border: 1px solid #007600;
    height:40px;
    width:100px;
    margin-right: 20px;
    border-radius: 5px;
}

.cardContainer{

    border:1px solid;
    padding:5px;
    width:300px;
    height:300px;
    border-radius: 5px;
    margin: 5px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.img-container{
    height:100px;
    width: 100px;
border-radius: 100px;
overflow: hidden;
margin-top: 50px;
}
.name-container{  

    width:80%;
    align-items: center;
    display: flex;
    justify-content: center;
}

input{
    border-width: 1px;
    height:40px;
    width:300px;
    margin-left: 20px;
    border-radius: 5px;
    font-size: large;
}